name: Haskell CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

- name: hlint
  uses: haskell-actions/hlint-run@v2
  with:
    path: '["fhir-types/src"]'
    fail-on: warning
